/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    informatio {
        height: 120px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 769px) {
    nav #menu {
        display: none;
        margin: 5px 0 15px 0;
        text-align: center;
        border-radius: 3px;
    }
    nav #menu li {
        padding: 15px;
        margin: 1px;
        width: 100%;
        background-color: #87b6d0;
    }
    nav #menu li:hover {
        background-color: #60859a;
        color: #fff;
    }
    nav #menu li:hover a {
        background-color: #60859a;
        color: #fff;
    }
    .nav-tabs>li>a {
        font-size: 0.8em;
        padding: 5px 5px;
        font-weight: 400;
        margin: 5px 0px;
    }
    .map {
        display: none;
    }
    main h4.outer {
    margin: 10px 0;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .slogan {
        font-size: 2em;
    }
    .logo a,
    .logo a:hover {
        text-decoration: none;
    }
    .nav-tabs>li>a {
        font-size: 0.7em;
        padding: 1px;
        font-weight: 200;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 768px) {
    nav #toggle {
        display: none;
    }
    nav #menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 60px;
    }
    .informatio {
        height: 110px;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 480px) {}