img {
	width: 100%;
}
.content {
	margin: 3%;
}
.log img {
	width: 100%;
	border-radius: 100%;
}
h2{
	width: 100%;
	font-size: 30px;
	margin: 4%;
	margin-left: 0;
	line-height: 40px;
}
ul {
	margin: 1%;
	list-style: disc;
}
li.m-5 {
display: block;
list-style: disc;
}
p {
	margin: 1%;
	margin-left: 0;
}
 p.min_head {
	color: #7F7F7F; 
	padding: 1%;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(131, 131, 131, 0.42);
	border-top: 1px solid rgba(131, 131, 131, 0.42);
}
.info p, .info a {
	margin: 1.5%;
	color: #25372b;
	text-decoration: none;
	font-size: 1em;
}
.info a {display: inline-block;}
.info a:hover {
	text-decoration: none;
	color: #da6339;
}
.info span {
	color: #da6339;
	font-size: 1.1em;
}
main {
	width: 100%;
	padding-left: 2%;
	text-align: left;
	font-size: 15px;
}
.headi {
	text-transform: uppercase;
}