body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.navheader {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    font-size: 24px;
}

#headernav {
    display: flex;
    margin: auto;
    justify-content: flex-end;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/www/img/bgHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 22vw;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #fff;
}

.menu li:hover {
    background-color: #00ade0;
    color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

ul li {
    margin-top: 10px;
    display: inline;
    padding: 15px 20px;
}

article {
    height: 327px;
    margin: 0 10px 10px 0;
    border: 1px solid #c1c1c1;
    cursor: pointer;
}

article:hover {
    background-color: #00ade0;
    color: #fff;
}

article img {
    max-width: 100%;
    height: 215px;
}

.zakladname {
    margin-top: 10px;
    font-weight: 900;
}

.category {
    height: 30px;
    padding-top: 5px;
    border-top: 1px solid #c1c1c1;
    background-color: #f6f6f6;
    color: #000000;
}

article {
    text-align: center;
}

address {
    margin-top: 0;
}

.phone {
    margin-bottom: 10px;
}

footer {
    height: 30px;
    border-top: 1px solid #c1c1c1;
    text-align: center;
    padding: 20px 0;
}