body {
    min-width: 300px;
    min-height: 100vh;
}

header {
    text-align: center;
    background-image: url(../img/bgHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav .logo{
    font-weight: 900;
}
header .logo {
    line-height: 22vw;
    color: #fff;
    font-weight: 900;
    font-size: 3em;
}

#toggle {
    width: 28px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    cursor: pointer;
}

#toggle div {
    height: 5px;
    background: #87b6d0;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

nav #menu li {
    display: inline-block;
}

#menu ul {
    padding-left: 0;
    line-height: 25px;
    float: right;
    width: 100%;
}

#menu ul li {
    text-align: center;
    padding: 15px 15px;
    list-style-type: none;
    border-radius: 3px;
}

.logo {
    line-height: 55px;
    font-size: 24px;
    color: #448bb5;
}

.zaklad-img {
    margin: 10px;
    text-align: center;
}

.zaklad-img img {
    width: 150px;
    height: 150px;
}

.main-title {
    border-bottom: 2px solid grey;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    line-height: 33px;
}

.categori {
    border-bottom: 1px solid grey;
    line-height: 25px;
}

.about {
    text-align: justify;
    padding: 20px;
}

.sprite {
    background-image: url(../img/sprite.png);
    margin-top: 5px;
    height: 22px;
    width: 23px;
}

span {
    padding-left: 31px;
    line-height: 25px;
    font-size: 1.25em;
}

.home {
    background-position: -6px 0;
}

.tel {
    background-position: 235px 0;
}

.time {
    background-position: 208px 0;
}

.year {
    background-position: 155px 0;
}

.site {
    background-position: 183px 0;
}

span {
    max-height: 150px;
    overflow-x: hidden;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0;
}

.right-content a{
    margin: 5px;
}
.right-content {
    
    text-align: center;
}
.right-content img{
    width: 100%;
    
}

footer {

    border-top: 1px solid #c1c1c1;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 50px;
    height: 100px;
}
