body {
    min-width: 380px;
    min-height: 100vh;
}

nav .logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    font-size: 1.75em;
    font-weight: 900;
    color: #448bb5;
}

#menu {
    display: block;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

nav #menu ul {
    padding-left: 10px;
    width: 100%;
}

nav #menu ul li a {
    margin-left: 20px;
}

header {
    background-image: url(../img/bgHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 22vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 900;
    font-size: 3em;
}

#toggle {
    width: 28px;
    height: 30px;
    position: absolute;
    top: 16px;
    right: 10px;
    float: right;
    cursor: pointer;
}

#toggle div {
    height: 5px;
    background: #87b6d0;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

.tabs {
    min-width: 320px;
    max-width: 800px;
    padding: 0px;
    margin: 0 auto;
}

.tabs section {
    display: none;
    margin-bottom: 15px;
}

.tabs input {
    display: none;
    position: absolute;
}

.tabs label {
    display: inline-block;
    margin: 15px 0px;
    padding: 15px 15px;
    text-align: center;
    color: #aaa;
    border-radius: 1px;
}

.tabs label:hover {
    color: #888;
    cursor: pointer;
}

.tabs input:checked+label {
    color: #555555;
    background: #05a8e3;
}

#tab1:checked~#content-tab1,
#tab2:checked~#content-tab2,
#tab3:checked~#content-tab3,
#tab4:checked~#content-tab4,
#tab5:checked~#content-tab5 {
    display: block;
}

.zaklad-img {
    margin: 10px;
    text-align: center;
}


/*
.zaklad-img img {
    width: 150px;
    height: 150px;
}
*/

.main-title {
    border-bottom: 2px solid grey;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    line-height: 33px;
}

.categori {
    border-bottom: 1px solid grey;
    line-height: 25px;
}

.about {
    text-align: justify;
    padding: 20px;
}

.sprite {
    background-image: url(../img/sprite.png);
    margin-top: 5px;
    height: 22px;
    width: 23px;
}

span {
    padding-left: 31px;
    line-height: 25px;
    font-size: 1.25em;
}

.home {
    background-position: -6px 0;
}

.tel {
    background-position: 235px 0;
}

.time {
    background-position: 208px 0;
}

.year {
    background-position: 155px 0;
}

.site {
    background-position: 183px 0;
}

span {
    max-height: 150px;
    overflow-x: hidden;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0;
}

.right-content a {
    margin: 5px;
}

.right-content {
    text-align: center;
}

.right-content img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a {
    color: #448bb5;
}

.thumbnail {
    text-align: center;
    max-width: 350px;
    margin: 5px auto;
   
}

.thumbnail .category {
    border-top: 1px solid #e1e1e1;
    padding: 10px;
    margin: -4px -4px;
    background-color: #f6f6f6;
    color: #000;
    border-radius: 0 0 5px 5px;

}

#fancybox-title {
    width: 100% !important;
}

footer {
    border-top: 1px solid #c1c1c1;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 50px;
    height: 100px;
}

.address {
    color: #000;
    padding-bottom: 5px;
}